<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - Transforming Today's Waste into Tomorrow's Legacy{% endif %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {% seo %}
</head>
<body>
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}
    {% include modals.html %}
    
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>